replicaCount: 1
image:
  repository: ghcr.io/andreliar/auth-service
  pullPolicy: IfNotPresent
  tag: 9
serviceAccount:
  create: true
  annotations: {}
  name: ""
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources: {}

affinity: {}